/*Logo Code Below*/
.logo{
    animation-delay: none;
    font-size: large;
    color: white;
}


.logopic{
    position:left;
    height:70px;
}

/*Navigation Code Below*/
.navbar{
    background-color:#F1E2DA;
    font-family: inherit;
    padding-right: 15px;
    padding-left: 15px;
    width: 1111x;
    overflow:auto;
}


.navdiv{
    display: inline;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle_btn {
    color: #204352;
    font-size: 2em;
    cursor: pointer;
}


/*Navigation Listing*/
ul{
    list-style-type: none;
 }
 
ul a {
margin: 0;
padding:0;
list-style:none;
 }




li{
float: left;
list-style: none;
display: inline-block;
}


li a{
color: #204352;
font-size: 18px;
margin-right: 25px;
}


/*Button Code Below*/
button{
    background-color: rgb(94,116,125);
    margin-left: 20px;
    border-radius: 10px;
}


button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}




/*Animation Code for Nav. Listing*/
a:link{
    color:rgb(255, 255, 255);
    text-decoration:none;
    display:block;
    text-align:center;
    padding:15px;
    text-transform:uppercase;
    font-size:18px;
    font-family:normal;
    }


a:hover{
    text-decoration: underline;
    background-color: #5e747d
    }


 /* Navbar links */
.active {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    list-style: none;
    margin-right: 25px;

  }

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }